body {
	font-family: 'Inconsolata' ;
}

a {
	display: block;
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: green;
}

#top {
	width: 100%;
	background-color: white;
	position: fixed;
}

article {
	width: 400px;
	font-size: 14px;
	padding: 500px 0px 40px 0px;
}

ul {
	list-style-type: cjk-ideographic;
}